html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  line-height: 18px;
  color: #000;
}

.legend i {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 8px;
  opacity: 1;
  background-color: #FFF;
  border: 1px;
}
