/* body { 
background: url(boulder_background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
opacity: .5;
} */

body::after {
  content: "";
  background: url(../images/boulder_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#bottomNav > div{
  width: 50%;
  margin:auto;
  text-align:center;
}

#map {
height: 100%;
}

#tweets {
    word-wrap: break-word;
    font-size: .8em;
    background-color:#c0b3cf;
}

#page-header {
  padding: 0px 9px 0px 9px;
  border-bottom: 1px solid #eee;
  color:  #eee;
  background: #6b5d81;
}

#plot-container {
  background-color:#c0b3cf;
  padding-top: 20px;
}

#plot-switcher {
  padding-bottom: 15px;
}

#button-option {
  display: inline;
}